{% extends "manage_files/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row container-fluid align-items-center justify-content-center"
         style="min-height: 80%">
        <div class="col-lg-5">
            <div class="row">
                <h4>Чем ниже значения, тем ниже качество и размер файла.</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-primary" value="Принять" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
