{% extends "manage_files/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row" style="min-height: 80%">
        <h4>Чем ниже значения, тем ниже качество и размер файла.</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Принять" />
            <p>
                <a href="{% url 'main_page' %}">Назад</a>
            </p>
        </form>
    </div>
{% endblock %}
